main {
  padding: 30px 20px;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 20px;
}

.picture img {
  width: 400px;
}
